.git
.gitignore
.github
.claude
.DS_Store
**/*.map
**/*.ts
.vscode-test/
out/
node_modules/
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.editorconfig
.prettierrc
.eslintrc*
.gitattributes
